<!DOCTYPE html>
<html>
    <head>
        <title>Todo V1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div><h1 class="todo-container"> <%= day %></h1></div>
        <form action="/delete" method="post">
            <div class="todo-list">
                <% newListItems.forEach(function(newList) { %>
                <ul>
                    <li><input name="checkeditem" type="checkbox" onchange="this.form.submit()" value="<%=newList._id%>"><%=newList.name%></li>
                </ul>
                    <% }) %>
            </div>
        </form>
        <form method="post" action="/">
            <input class="input-section" autocomplete="off" type="text" placeholder="Add" name="itemList" required>
            <button type="submit">+</button>
        </form>
    </body>
</html>
