<!DOCTYPE html>
<html>
    <head>
        <title>Todo V1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div><h1 class="todo-container"> <%= day %></h1></div>
        <div class="todo-list">
            <ul>
            <li>Read Books</li>

            <% for ( var i = 0; i<newListItems.length; i++) { %>
                <li><%= newListItems[i] %></li>
            <% } %>
        </ul>
        </div>
        <form method="post" action="/">
            <input class="input-section" autocomplete="off" type="text" placeholder="Add" name="itemList" required>
            <button type="submit">+</button>
        </form>
    </body>
</html>
